{% extends 'base.html' %}

{% block contenido %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/inicio_sesion" class="navbar-brand">Inicio</a>
        <a href="/agregar_receta" class="navbar-brand">Agregar Receta</a>
        <a href="/actualizar_datos_usuario" class="navbar-brand">Actualizar Mis Datos</a>
        <form class="d-flex" role="search">
            <a class="btn btn-warning" href="/cerrar_sesion" type="submit">Salir</a>
        </form>
    </div>
</nav>

<div class="actualizar_usuario">
    <form action="/actualizar_usuario_process" method="post" class="p-1 col-6 mx-auto my-5 bg-dark text-light">
        <div class="titulo"><h1>Actualice sus Datos</h1></div>
        <div class="row-sm-10 mb-2">
            <label for="first_name">Nombre:</label>
            <input name="first_name" type="text" class="form-control" value="{{ user_data.first_name }}">
        </div>
        <div class="row-sm-10 mb-2">
            <label for="last_name">Apellido:</label>
            <input name="last_name" type="text" class="form-control" value="{{ user_data.last_name }}">
        </div>
        <div class="row-sm-10 mb-2">
            <label for="email">Email:</label>
            <input name="email" type="text" class="form-control" value="{{ user_data.email }}">
        </div>
            <label for="password">Ingrese su contraseña para realizar los cambios:</label>
            <input name="password" type="password" class="form-control">
        </div>
        <button id="boton" type="submit" class="btn btn-danger">Actualizar</button>
    </form>
</div>


{% endblock %}