{% extends 'base.html' %}

{% block contenido %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Inicio</a>
        <a href="/agregar_receta" class="navbar-brand">Agregar Receta</a>
        <a href="/actualizar_datos_usuario" class="navbar-brand">Actualizar Mis Datos</a>
        <form class="d-flex" role="search">
            <a class="btn btn-warning" href="/cerrar_sesion" type="submit">Salir</a>
        </form>
    </div>
  </nav>

<div class="revista_form">
    <form action="/agregar_receta_process" method="post" class="p-1 col-6 mx-auto my-5 bg-dark text-light">
        <div class="titulo"><h1>Agregar Receta:</h1></div>
        <div class="row-sm-10 mb-2">
            <label for="nombre">Nombre:</label>
            <input name="nombre" type="text" class="form-control">
        </div>
        <div class="row-sm-10 mb-2">
            <label for="descripcion">Descripción:</label>
            <input name="descripcion" type="text" class="form-control">
        </div>
        <div class="row-sm-10 mb-2">
            <label for="instruccion">Instrucciones:</label>
            <input name="instruccion" type="text" class="form-control">
        </div>
        <div class="row-sm-10 mb-2">
            <label for="less_30min">Receta de menos de 30 min:</label>
            <div class="form-check">
                <input name="less_30min" class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Si</label>
            </div>
            <div class="form-check">
                <input name="less_30min" class="form-check-input" type="checkbox" value="0" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">No</label>
            </div>
        </div>
        <button id="boton" type="submit" class="btn btn-danger">Registrar</button>
    </form>
</div>


{% endblock %}